<div class='card my-3 w-100'>
  <div class="row no-gutters bg-secondary">
    <div class="col" (click)="expand = !expand;">
      <h3 class='card-title pl-4 py-3 text-white font-weight-bold'>
        {{result.room}}
      </h3>
    </div>
    <div class="col text-right">
      <h3 class="mr-3 py-3">
      <span *ngIf="result.open && !expand" class="badge badge-success">Open</span>
      <span *ngIf="result.open && expand" class="badge badge-success" (click)="reserved = !reserved" [ngClass]="{'badge-warning':!reserved}">{{reserved ? 'Reserved' : 'Reserve'}}</span>
      <span *ngIf="!result.open" class="badge badge-danger ">Closed</span>
      </h3>
    </div>
  </div>

  <div class='card-body py-1'>
      <div id="text">
        <h4 *ngIf="!result.open"> <b>Current Class:</b> {{result.class}}</h4>
        <h4 *ngIf="result.duration"><b>Time until next class: </b>{{result.duration}}</h4>
        <h4 *ngIf="!result.duration"><b>No Classes For Rest of Day</b></h4>
      </div>
      <div id="timeline" *ngIf="expand" >
          <div class="bg-dark mt-3" style="height: 30px; border-radius: 5px; position:relative">
                <ng-container *ngFor="let course of result.courses">
                    <div *ngIf="course.isDay != -1" class="bg-warning h-100" style="display:inline-block; position: absolute" [ngStyle]="{'margin-left.%':course.offset,'width.%': course.width}"></div>
                </ng-container>
                <div class="bg-primary h-100" style="display:inline-block;position:absolute;width:20px" [ngStyle]="{'margin-left.%':currentOffset}"></div>

          </div>
          <div class="pb-4">
            <ng-container *ngFor="let time of times; index as i">
                <h6 class="text-muted h-100" style="display:inline-block;position:absolute" [ngStyle]="{'margin-left.%':i*13.05}" [ngClass]="{'d-none':i%2, 'd-md-block':i%2}">{{time}}</h6>
            </ng-container>
          </div>
      </div>
  </div>
</div>
