<section>

    <div class="bg-secondary py-5 w-100">
      <div class='container container-fluid'>
          <div class='text-center text-light mt-5 pb-3'>
            <h1 class="">Study Space Finder</h1>
            <h2>Better Than Cooper Library.</h2>
          </div>
            <form class="">
              <div class='form-row'>
                  <input
                    [(ngModel)]="query"
                    autocomplete="off"
                    class='form-control form-control-lg col' name='building'
                    placeholder="Type in a building or classroom. Ex. Riggs 200"
                    type='text'/>
                  <button
                  type='submit' class='btn btn-primary btn-large col'
                 (click)="search(query)">Search</button>
              </div>
            </form>
          </div>
    </div>

    <div class="row">
      <div class=" col-xl-6 col-lg-8 col-md-10 mx-auto pb-5 mb-5">
        <div *ngIf="results">
          <div *ngFor="let result of results.slice(0,shownumber)">
            <app-card
             [data]="result"
             [expand]="expand == result.room"
             (click)="expand=result.room">
           </app-card>
          </div>
          <div class="w-100 text-center">
            <button
            class="btn btn-primary mx-auto"
            (click)="shownumber=shownumber+5">Show More</button>
          </div>
        </div>
      </div>
    </div>


</section>
